# Assignment Dataprocessing HT25

This assignment is taken from the book **Introduction to Statistical Machine
Learning**
The assignment relates to the College data set, which can be found in the file `College.csv`. It contains a number of variables for 777 different universities and colleges in the US.

### Main Variables
- **Private**: Public/private indicator  
- **Apps** : Number of applications received  
- **Accept**: Number of applicants accepted  
- **Enroll**: Number of new students enrolled  
- **Top10perc**: % of new students from top 10%  
- **Top25perc**:  % of new students from top 25%  
- **F.Undergrad**: Number of full-time undergraduates  
- **P.Undergrad**: Number of part-time undergraduates  
- **Outstate**:Out-of-state tuition  
- **Room.Board**:  Room and board costs  
- **Books**: Estimated book costs  
- **Personal**:  Estimated personal spending  
- **PhD**: % of faculty with Ph.D.s  
- **Terminal**: % of faculty with terminal degrees  
- **S.F.Ratio**: Student/faculty ratio  
- **perc.alumni**: % of alumni who donate  
- **Expend**: Instructional expenditure per student  
- **Grad.Rate**: Graduation rate

**(a)** Use the `pd.read_csv()` function to read the data into Python. Call the loaded data college. Make sure that you have the directory set to the correct location for the data.

In [7]:
import pandas as pd
import csv

college= pd.read_csv("College.csv")
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

**(b)** Look at the data used in the notebook by creating and running a new cell with just the code college in it. You should notice that the first column is just the name of each university in column named something like Unnamed: 0. We
 donâ€™t really want pandas to treat this as data. However, it may be handy to have these names for later. Try the following commands and similarly look at the resulting data frames:
1. `college2 = pd.read_csv('College.csv', index_col=0)`
2. `college3 = college.rename({'Unnamed: 0': 'College'}, axis=1)`
3. `college3 = college3.set_index('College')`

In [11]:
college2 = pd.read_csv("College.csv", index_col=0) #sets the first column as the index(university name)
college3 = college.rename({"Unnamed: 0": "College"}, axis=1) #changes the automatic column name to 'college'
college3 = college3.set_index("College")
#college3.head()
college= college3
college.head()

KeyError: "None of ['College'] are in the columns"

**(c)** Use the `describe()` method of college to produce a numerical summary of the variables in the data set.

In [9]:
college.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

**(d)** Use the `pd.plotting.scatter_matrix()` function to produce a scatterplot matrix of the first columns [Top10perc, Apps, Enroll]. Recall that you can reference a list C of columns of a data frame A using A[C].

In [10]:
matrix= pd.plotting.scatter_matrix(college.loc["Top10perc", "Apps", "Enroll"])
matrix

IndexingError: Too many indexers